<article>
    <header>
        <h2 class="heading">Academic History</h2>
    </header>
    <section id="undergraduate" class="education">
        <aside>
            <h5>Thadomal Shahani Engineering College</h5>
            <h6>University of Mumbai</h6>
        </aside>
        <details>
            <summary>
                <abbr title="Bachelor of Engineering">BE</abbr>
                (<abbr title="ElectroniX and Tele-Communication">EXTC</abbr>)
                <meter min="0" low="40" optimum="60" high="75" max="100" value="56.3">56.30 %</meter>
            </summary>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Semester</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
	                <td>8</td>
	                <td>57.33 % </td>
                    </tr>
                     <tr>
			 <td>7</td>
			 <td>50.00 %</td>
		     </tr>
                     <tr>
	                <td>6</td>
	                <td>54.59 %</td>
                    </tr>
                    <tr>
	                <td>5</td>
	                <td>47.61 %</td>	
                    </tr>
                    <tr>
	                <td>4</td>
	                <td>52.94 %</td>
                    </tr>
                    <tr>
	                <td>3</td>
	                <td>56.00 %</td>
                    </tr>
                    <tr>
	                <td>2</td>
	                <td>53.43 %</td>
                    </tr>
                    <tr>
	                <td>1</td>
	                <td>56.50 %</td>
                    </tr>
                </tbody>
            </table>
        </details>
    </section>
    <section id="higher-secondary-school" class="education">
        <aside>
            <h5> Marathwada Mitramandal Junior College of Commerce and Science </h5>
            <h6> Maharashtra State Board of Secondary & Higher Secondary Education </h6>
        </aside>
        <details>
            <summary>
	        <abbr title="Higher Secondary Certificate">HSC</abbr>
                <meter min="0" low="40" optimum="60" high="75" max="100" value="74.5">74.50 %</meter>
            </summary>
            <table class="table table-striped">
                <tr>
	            <td>MHT-CET</td>
	            <td>Northern Maharashtra University </td>
	            <td>138/200</td>
                </tr>
            </table>
        </details>
    </section>
    <section id="secondary-school" class="education">
        <aside>
            <h5> Fatima Convent High School </h5>
            <h6> Gujarat State Education Board </h6>
        </aside>
        <details>
            <summary>
                <abbr title="Secondary School Certificate">SSC</abbr>
                <meter min="0" low="40" optimum="60" high="75" max="100" value="82.71">82.71 %</meter>
            </summary>
        </details>
    </section>
</article>

<article>
    <header>
        <h2 class="heading">Certifications and Training</h2>
    </header>
    <section>
	<aside>
            <div class="organization">
                <abbr title="Sardar Patel Institute of Technology">SPIT</abbr>
                (Department of Electronics)
            </div>
            <div>12/02/09 to 31/08/09</div>
        </aside>
	<details>
            <summary>Short Term Training Programme on Embedded Systems</summary>
        </details>
    </section>
    <section>
        <aside>
            <div class="organization">
                <abbr title="Institute of Electrical and Electronics Engineers">IEEE</abbr>-
                <abbr title="Sardar Patel Institute of Technology">SPIT</abbr>
            </div>
            <div class="duration">07/02/09 to 08/02/09</div>
        </aside>
        <details>
	    <summary>Vision Controlled Robotics workshop</summary>
            <p> I did this project while I was in my third year. In this project a robot-car follows a ball of particular color. The robot-car is connected to PC via parallel port and the USB camera is connected to the PC. The video and image processing is done on the PC using Matlab while the robot-car is controlled by an onboard ATmega16L microcontroller.
            </p>
	</details>
    </section>
    <section>
        <aside>
            <div class="organization">
                <abbr title="Thadomal Shahani Engineering College">TSEC</abbr>
                (Department of Electronics and Tele-communication)
            </div>
            <div class="duration">
                19/09/08 to 20/09/08
            </div>
        </aside>
        <details>
	    <summary>Image Processing Using MatLab Workshop</summary>
        </details>
    </section>
    <section>
        <aside>
	    <div class="organization">
                <abbr title="Thadomal Shahani Engineering College">TSEC</abbr>
                (Department of Computer Engineering)
            </div>
            <div class="duration">28/03/08 to 29/03/08
            </div>
        </aside>
        <details>
	    <summary>Fundamentals of Object Oriented Languages Workshop</summary>
        </details>
    </section>
</article>
