<article>
  <header>
    <h2 class="heading">Leisure</h2>
  </header>
<section>
  <hr />
  <div>
    <img src="">
    Observing people and analysing their behaviours
  </div>
  <hr />
  <div>
    <img src="" />
    Reading stories with complicated plots (fiction as well as non-fiction)
  </div>
  <hr />
  <div>
    <img src="" />
    Playing Chess
  </div>
  <hr />
  <div>
    <img src="" />
    Listening to Classical Music
  </div>
  <hr />
  <div>
    <img src="" />
    Watching Documentary Movies
  </div>
  <hr />
</section>
</article>
