<noscript data-title="languages"></noscript>
<h2 class="heading">Languages</h2>
<table class="table">
  <thead>
    <tr>
      <th>ISO code</th>
      <th>Language</th>
      <th>CEFRL Proficiency</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>mr</td>
      <td>Marathi</td>
      <td>C2</td>
    </tr>
    <tr>
      <td>gu</td>
      <td>Gujarati</td>
      <td>C2</td>
    </tr>
    <tr>
      <td>ahr</td>
      <td>Aahirani</td>
      <td>B2</td>
    </tr>
    <tr>
      <td>sa</td>
      <td>Sanskrit</td>
      <td>A2</td>
    </tr>
    <tr>
      <td>de</td>
      <td>German</td>
      <td>B1</td>
    </tr>
    <tr>
      <td>en</td>
      <td>English</td>
      <td>C2</td>
    </tr>
    <tr>
      <td>es</td>
      <td>Spanish</td>
      <td>A1</td>
    </tr>
    <tr>
      <td>pa</td>
      <td>Punjabi</td>
      <td>A2</td>
    </tr>
    <tr>
      <td>hi</td>
      <td>Hindi</td>
      <td>C2</td>
    </tr>
    <tr>
      <td>ur</td>
      <td>Urdu</td>
      <td>A2</td>
    </tr>
    <tr>
      <td>ar</td>
      <td>Arabic</td>
      <td>A1</td>
    </tr>
    <tr>
      <td>hi</td>
      <td>Hebrew</td>
      <td>A1</td>
    </tr>
  </tbody>
</table>
