<article>
  <header>
    <h2 class="heading">Volunteering</h2>
  </header>
  <section>
    <aside>
      <div class="organization">
        Rosen Herbs, Israel
      </div>
      <div class="duration">
        <time datetime="2015-07-05">05/07/2015</time> to
        <time datetime="2016-03-31">31/03/2016</time>
      </div>
    </aside>
    <details>
      <summary>KPC Volunteer</summary>
      <ul>
        <li>Maintaining a Greenhouse</li>
        <li>Learning controlled agriculture techniques</li>
        <li>Acclimatizing with the local culture, learning about it</li>
      </ul>
    </details>
  </section>
  <section>
    <aside>
      <div class="organization">
        <abbr title="ToastMasters Club of Pune">TMCP</abbr>-East
      </div>
      <section class="duration">
        Jul 2014 to Jun 2015
      </section>
    </aside>
    <details>
      <summary>Sergeant-At-Arms</summary>
      <ul>
        <li>Tend to club property</li>
        <li>Co-ordinate meetings </li>
      </ul>
    </details>
  </section>
  <section>
    <aside>
      <div class="organization">
        <abbr title="ToastMasters Club of Pune">TMCP</abbr>-East
      </div>
      <div class="duration">
        Jan 2014 to Jun 2014
      </div>
    </aside>
    <details>
      <summary>President</summary>
      <ul>
        <li>Preside over all the meetings of the club</li>
        <li>Lead the club to financial viability     </li>
        <li>Chief Executive Officer of the Club      </li>
      </ul>
    </details>
  </section>
  <section>
    <aside>
      <div class="organization">
        <abbr title="ToastMasters Club of Pune">TMCP</abbr>
      </div>
      <div class="duration">
        Dec 2013 to Jul 2013
      </div>
    </aside>
    <details>
      <summary>Vice-President (Public Relations)</summary>
      <ul>
        <li>Promote the club to the local community</li>
        <li>Responsible for the club's web presence</li>
        <li>Increase the footfalls to events and club meetings</li>
      </ul>
    </details>
  </section>
  <section>
    <aside>
      <div class="organization">
        Jagriti Yatra, India
      </div>
      <div class="duration">
        Dec 2011 to Jan 2012
      </div>
    </aside>
    <details>
      <summary>Yatri</summary>
      <ul>
        <li>
          Was part of a train journey, that travels throughout India
        exploring, studying and getting inspired by the solutions that
        are being created for India, by Indians
        </li>
        <li>
          Post Yatra, helped organize a clothes collection drive for
          Goonj, for two consecutive years
        </li>
      </ul>
    </details>
  </section>
  <section>
    <aside>
      <div class="organization">
        <abbr title="Institute of Electrical and Electronics Engineers">IEEE</abbr>-
        <abbr title="Thadomal Shahani Engineering College">TSEC</abbr>
      </div>
      <div class="duration">10/09/09 to 11/09/09</div>
    </aside>
    <details>
      <summary>Linux workshop organized through IEEE-TSEC</summary>
      <p>Conducted a hands on workshop to introduce undergraduate
        students to Linux. Explained basic Unix kernel and shell
        fundamentals while stressing on the need for automating your
        work instead of using point-and-click.
      </p>
    </details>
  </section>
  <section>
    <aside>
      <div class="organization">
        <abbr title="Thadomal Shahani Engineering College">TSEC</abbr>
        (Department of Electronics and Tele-communication)
      </div>
      <div class="duration">29/06/09 to 10/07/09</div>
    </aside>
    <details>
      <summary>Short Term Training Programme on Robotics</summary>
      <p>Was part of the team that conducted a short term course on
        robotics which included workshops on image processing,
        micro-controller based motor control and interfacing of digital
        circuits to control A/C power supply.
      </p>
    </details>
  </section>
  <section>
    <aside>
      <div class="organization">
        <abbr title="Institute of Electrical and Electronics Engineers">IEEE</abbr>-
        <abbr title="Thadomal Shahani Engineering College">TSEC</abbr>
      </div>
      <div class="duration">24/02/08</div>
    </aside>
    <details>
      <summary>Basic Robotics Workshop</summary>
      <p>Taught a group of second and third year students how to
        assemble a basic electric robot with DC motors, powersupply and
        two-way switches to control the car.
      </p>
    </details>
  </section>
</article>
