<noscript data-title="strengths"></noscript>
<article>
  <header>
    <h2 class="heading">Strengths</h2>
  </header>
  <section>
    <table class="table">
      <tr>
        <td><img src="images/organizational_skills.png"
                 width="40%"></td>
        <td><img src="images/planning.jpg"
                 width="40%"></td>
        <td><img src="images/analysis.jpg"
                 width="40%"></td>
      </tr>
      <tr>
        <td>Organizational Skills</td>
        <td>Planning</td>
        <td>Analysis</td>
      </tr>
      <tr>
        <td><img src="images/visualization.jpg"
                 width="40%"></td>
        <td><img src="images/creative_imagination.jpg"
                 width="40%"></td>
        <td><img src="images/composure.png"
                 width="40%"></td>
      </tr>
      <tr>
        <td>Visualization	</td>
        <td>Creative Imagination</td>
        <td>Composure</td>
      </tr>
      <tr>
        <td><img src="images/networking.jpg"
                 width="40%"></td>
        <td><img src="images/perfectionist.jpg"
                 width="40%"></td>
        <td><img src="images/hardworking.jpg"
                 width="40%"></td>
      </tr>
      <tr>
        <td>Networking</td>
        <td>Perfectionist</td>
        <td>Hardworking</td>
      </tr>
    </table>
  </section>
</article>
