table.main
{
 width:960px;
 margin-top:0;
 margin-bottom:0;
}

table.internal
{
 width:100%;
 border:0px;
}
#heading 
{
 background-color:#999999;
 text-align:center;
}

#name
{
 color:#78675F;
 font-weight=;
}

#profile
{
 text-align:center;
}
#title
{
	color: #78675F;
	background-color: yellow;
	font-weight:;

}

hr
{
 color:gray;
}

.center
{text-align:center;}

#contact
{
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:14px;
}
#address
{
 text-align:justify;
 font-style:"Arial";
}


