body {
  background-image:url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment:fixed;
}

#sutra {
  margin: 2%;
  text-align:center;
  opacity: 0.5;
}

.khand {
  text-align:center;
  border-radius: 25px;
  padding: 1em;
  margin:2%;
  background-color: #CCBBEE;
  opacity:0.8;
}

/* div.khand~h2 { */
/*   font-size: 5em; */
/* } */
