@charset "utf-8";

body {
    background-image:url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment:fixed;
}

header{
    position:fixed;
}

#home{
    padding-right: 10%;
    padding-left: 10%;
    background-color: #000000;
    opacity: 0.8;
}

#tagline{
    margin: 10% 0 10% 0;
    padding:20% 0 20% 0;
    font-size:3em;
    text-align:center;
}

footer{
    font-size:0.7em;
    text-align:center;
}
