<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <base href="http://www.ksinkar.in">
	<title>Koustubh Sinkar - Resume</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/cv.css" />
    </head>

    <body>	
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="main">
	    <tr><td>
	        <table cellpadding="30" class="internal">
	            <tr>
		        <td><img src="images/001.jpg" height="250"></td>
		        <td>
		            <hr/>
			    <h1 id="name">KOUSTUBH SINKAR</h1>
			    <p id="contact">
                                Troubleshooter
                                <br/>Thinker
                                <br/>Doer
                            </p>
			    <h6 id="contact">Twitter: @ksinkar
			        <br/>Linkedin: <a href="https://www.linkedin.com/in/ksinkar/">https://www.linkedin.com/in/ksinkar/</a>
			        <br/>Github:   <a href="https://github.com/ksinkar">https://github.com/ksinkar</a>
			        <br/>Facebook: <a href="https://www.facebook.com/ksinkar">https://www.facebook.com/ksinkar</a>
                            </h6>
			    <hr/>
		        </td>
	            </tr>
	        </table>

	        <h2 id="heading">Profile</h2>
	        <h5 align="center" style="font-stretch:expanded; font-weight:400; font-family: Arial, Helvetica, sans-serif;"> Electronics and Tele-communications Engineer</h5>
	        <h4>To further my knowledge in my existing areas of expertise and to gather experience by applying it in various combinations to solve practical problems</h4>


                <h2 id="heading">Areas of Expertise</h2>
	        <table class="internal">
		    <tr>
			<td>Web Designing</td>
			<td>Embedded Systems</td>
			<td>C/C++</td>
		    </tr>
		    <tr>
			<td>Linux OS (Fedora)</td>
			<td>MatLab</td>
			<td>Visual Basic, Pascal</td>
		    </tr>
	        </table>

                <h2 id="heading">Professional Development</h2>
	        <table class="internal">
		    <tr>
			<td>Embedded Systems Engineer</td> 
			<td>Megavision Embedded Systems </td>
			<td>01/07/10 till present</td>
		    </tr>
		    <tr>
			<td>Summer Internship</td>
			<td>Worked as a team member for designing a website for Ambika Paints Ltd. </td>
			<td>26/07/2007 to 31/08/2007</td>
		    </tr>
	        </table>


                <h2 id="heading">Academic Development</h2>
	        <table class="internal">		
		    <tr>
			<td>Semester - 8</td>
			<td>Thadomal Shahani Engineering College, Mumbai University</td>
			<td>57.33 % </td>
		    </tr>
		    <tr>
			<td>Semester - 7</td>
			<td>Thadomal Shahani Engineering College, Mumbai University</td>
			<td>50.00 %</td>
		    </tr>
		    <tr>
			<td>Semester - 6</td>
			<td>Thadomal Shahani Engineering College, Mumbai University</td> 	
			<td>54.59 %</td>
		    </tr>
		    <tr>
			<td>Semester - 5</td>
			<td>Thadomal Shahani Engineering College, Mumbai University</td> 	
			<td>47.61 %</td>	
		    </tr>
		    <tr>
			<td>Semester - 4</td>
			<td>Thadomal Shahani Engineering College, Mumbai University</td> 	
			<td>52.94 %</td>
		    </tr>
		    <tr>
			<td>Semester - 3</td>
			<td>Thadomal Shahani Engineering College, Mumbai University </td>
			<td>56.00 %</td>
		    </tr>
		    <tr>
			<td>Semester - 2</td>
			<td>Thadomal Shahani Engineering College, Mumbai University</td>	
			<td>53.43 %</td>
		    </tr>
		    <tr>
			<td>Semester - 1</td>
			<td>Thadomal Shahani Engineering College, Mumbai University</td> 	
			<td>56.50 %</td>
		    </tr>
		    <tr>
			<td>MHT-CET</td>
			<td>Northern Maharashtra University 	</td>
			<td>138/200</td>
		    </tr>
		    <tr>
			<td>HSC (Maharashtra Board)</td>
			<td>Marathwada Mitramandal Junior College of Science, Pune </td>	
			<td>74.50 %</td>
		    </tr>
		    <tr>
			<td>SSC (Gujarat Board)</td>
			<td>Fatima Convent High School, Bhavnagar, Gujarat</td> 
			<td>82.71 %	</td>
		    </tr>
	        </table>

                <h2 id="heading">Co-Curricular Activities</h2>
	        <table class="internal" >
		    
		    <tr>
			<td>IEEE-TSEC</td>
			<td>Conducted a basic Linux workshop organized through IEEE-TSEC in September 2009</td> 	
			<td>10/09/09 to 11/09/09	</td>
		    </tr>
		    <tr>
			<td>TSEC (Department of Electronics and Tele-communication)</td>
			<td>Helped organize a Short Term Training Programme on Robotics in July 2009 </td>
			<td>29/06/09 to 10/07/09</td>
		    </tr>
		    <tr>
			<td>SPIT (Department of Electronics)</td>
			<td>Attended  a Short Term Training Programme on Embedded Systems</td> 	
			<td>12/02/09 to 31/08/09</td>
                    </tr>
		    <tr>
			<td>IEEE-SPIT</td>
			<td>Attended a Vision Controlled Robotics workshop</td>	
			<td>07/02/09 to 08/02/09</td>
		    </tr>
		    <tr>
			<td>TSEC (Department of Electronics and Tele-communication)</td>
			<td>Attended an Image Processing Using MatLab Workshop</td> 	
			<td>19/09/08 to 20/09/08</td>
		    </tr>
		    <tr>	
			<td>TSEC (Department of Computer Engineering)</td>
			<td>Attended a Fundamentals of Object Oriented Languages Workshop</td> 	
			<td>28/03/08 to 29/03/08</td>
		    </tr>
		    <tr>
			<td>IEEE-TSEC</td>
			<td>Conducted a basic robotics workshop 	</td>
			<td>24/02/08</td>
		    </tr>
	        </table>

                <h2 id="heading">Strengths</h2>
	        <table class="internal">
		    
		    <tr>    
			<td>Organizational Skills</td>
			<td>Planning</td>
			<td>Analysis</td>
		    </tr>
		    <tr>
		        <td>Visualization	</td>
		        <td>Creative Imagination</td>
		        <td>Composure</td>
		    </tr>
		    <tr>
		        <td>Networking</td>
		        <td>Perfectionist</td>	
		        <td>Hardworking</td>
		    </tr>
	        </table>
                <br/>
                <hr/>
                <table class="internal">
	            <tr>
		        <td><i>Activities:</i></td>
		        <td>Attended the Art of Living Yes!+ program and following it up regularly</td>
	            </tr>
	            <tr>	
		        <td><i>Languages:</i> 	</td>
		        <td>English, Gujarati, Hindi, Marathi</td>
                    </tr>
	            <tr>
		        <td><i>Interests and Pastimes:</i></td> 	
		        <td>Reading, Music, Movies, Observing people and analysing their behaviours, Chess.</td>
                    </tr>
	        </table>
	        <hr/>
            </td></tr>
        </table>

    </body>
</html>
