<div class="row">
    <div class="col-12">
        <p class="text-right"><a href="pages/resume/cv.html">Print</a></p>
    </div>
</div>
<article class="row" id="skills">
    <section id="embedded">
    	<table class="table table-striped">
    	    <tr >
    	        <td rowspan="2">AVR</td>
    	        <td>ATmega 8535</td>
    	        <td>This was my first micro-controller. </td>
    	    </tr>
    	    <tr >
    	        <td>ATmega 16L</td>
    	        <td>Created a vision controlled Robot that followed a ball of a particular color</td>
    	    </tr>
    	    <tr>
    	        <td rowspan="2">x51</td>
    	        <td>8051</td>
    	        <td>Used it in the Laboratory</td>
    	    </tr>
    	    <tr>
    	        <td>nRF24LU1+</td>
    	        <td>Designed and built a 
    	    </tr>
    	    <tr>
    	        <td rowspan="2">ARM</td>
    	        <td>LPC2468</td>
    	        <td>Worked on an LPC2468 based Olimex board</td>
    	    </tr>
    	    <tr>
    	        <td>OMAP L138</td>
    	        <td>Tried to accelerate graphics on the Hawkboard by using the DSP core on the OMAP L138 chip</td>
    	    </tr>
    	</table>
    </section>
    <section id="computer_science">
    	<table class="table table-striped">
    	    <tr>
    	        <td rowspan="3">Programming Languages</td>
    	        <td>C/C++</td>
    	        <td></td>
    	    </tr>
    	    <tr>
    	        <td>Visual Basic</td>
    	        <td></td>
    	    </tr>
    	    <tr>
    	        <td>Pascal</td>
    	        <td></td>
    	    </tr>
    	    <tr>
    	        <td rowspan="3">Operating Systems</td>
    	        <td>GNU/Linux</td>
    	        <td>Have been using Fedora distribution for the past 3 years. Using it to build, port and optimize the Linux kernel and its surrounding ecology to other architectures.</td>
    	    </tr>
    	    <tr>
    	        <td>GNU Hurd</td> 
    	        <td>Studying the Gnu Mach microkernel and the GNU Hurd system out of intellecutual curiosity which arose after reading the Linus Torvalds vs Andrew Tanenbaum debate</td>
    	    </tr>
    	    <tr>
    	        <td>Microsoft Windows</td>
    	        <td>Began using computers with Microsoft Windows, have done basic administration but have not done extensive software development on Windows</td>
    	    </tr>
    	    <tr>
    	        <td rowspan="2">Web Technologies</td>
    	        <td>XHTML/CSS</td>
    	        <td>Quite good at XHTML/CSS as can be seen from this website</td>
    	    </tr>
    	    <tr>
    	        <td>PHP</td>
    	        <td>Elementary knowledge of setting up the Apache server on Fedora and displaying basic PHP pages</td>
    	    </tr>
    	</table>
    </section>
</article>
<article class="row" id="projects">
</article>
<article class="row" id="workex">
    <table class="table table-striped">
	<tr>
	    <td>Embedded Systems Engineer</td> 
	    <td>Megavision Embedded Systems </td>
	    <td>01/07/10 till present</td>
	</tr>
	<tr>
	    <td>Summer Internship</td>
	    <td>Worked as a team member for designing a website for Ambika Paints Ltd. </td>
	    <td>26/07/2007 to 31/08/2007</td>
	</tr>
    </table>
</article>
<article class="row" id="academics">
    <section id="engg">
	<table class="table table-striped">		
	    <tr>
	        <td>B.E. Electronics & Telecommunication</td>
	        <td>Thadomal Shahani Engi1neering College, Mumbai University</td>
	        <td>53.85 %</td>
	    </tr>
	</table>
	<h2 class="heading">Co-Curricular Activities</h2>
	<table class="table table-striped" >
	    <tr>
	        <td>IEEE-TSEC</td>
	        <td>Conducted a basic Linux workshop organized through IEEE-TSEC in September 2009</td> 	
	        <td>10/09/09 to 11/09/09	</td>
	    </tr>
	    
	    <td>TSEC (Department of Electronics and Tele-communication)</td>
	    <td>Helped organize a Short Term Training Programme on Robotics in July 2009 </td>
	    <td>29/06/09 to 10/07/09</td>
	    </tr>
	    <tr>
	        <td>SPIT (Department of Electronics)</td>
	        <td>Attended  a Short Term Training Programme on Embedded Systems</td> 	
	        <td>12/02/09 to 31/08/09</td>
	        <tr>
	            <td>IEEE-SPIT</td>
	            <td>Attended a Vision Controlled Robotics workshop</td>	
	            <td>07/02/09 to 08/02/09</td>
	        </tr>
	        <tr>
	            <td>TSEC (Department of Electronics and Tele-communication)</td>
	            <td>Attended an Image Processing Using MatLab Workshop</td> 	
	            <td>19/09/08 to 20/09/08</td>
	        </tr>
	        <tr>	
	            <td>TSEC (Department of Computer Engineering)</td>
	            <td>Attended a Fundamentals of Object Oriented Languages Workshop</td> 	
	            <td>28/03/08 to 29/03/08</td>
	        </tr>
	        <tr>
	            <td>IEEE-TSEC</td>
	            <td>Conducted a basic robotics workshop 	</td>
	            <td>24/02/08</td>
	        </tr>
	</table>
    </section>
    <section id="junior_college">
	<table class="table table-striped">
	    <tr>
	        <td>MHT-CET</td>
	        <td>Northern Maharashtra University 	</td>
	        <td>138/200</td>
	    </tr>
	    <tr>
	        <td>HSC (Maharashtra Board)</td>
	        <td>Marathwada Mitramandal Junior College of Science, Pune </td>	
	        <td>74.50 %</td>
	    </tr>
	</table>
    </section>
    <section id="school">
	<table class="table table-striped">
	    <tr>
	        <td>SSC (Gujarat Board)</td>
	        <td>Fatima Convent High School, Bhavnagar, Gujarat</td> 
	        <td>82.71 %	</td>
	    </tr>
	</table>
    </section>
</article>
