<noscript data-title="projects"></noscript>
<hr /> 
<h2 class="heading">Naraada Muni</h2>
<div>
    This is a hobby project that I am working on currently. I am trying to build a portable GNU radio. Currently I am trying to interface it to Hawkboard. Have not achieved much progress as of now, but will keep you posted. Had applied for the Pandaboard early adopters project. Got two votes for my Idea but fell one vote short of getting a PandaBoard
</div>
<hr />
<h2 class="heading">Object Extraction</h2>
<div>
    <img style="float:left;"
         src="http://lh5.ggpht.com/_IgtwgUS_nQU/TPhwHTKv-ZI/AAAAAAAAALA/nfA751t3owA/s912/watershed.jpg"
         alt="Watershed segmentation"
         width="10px"/>	
    This was my Final Year Project. In this project me and my team-mates compared the results of two different techniques of image segmentation. In the first method we apply
    edge detection techiniques to obtain difference in strength (DIS)map. We then employ the region growing technique to work
    on the map. This algorithm was implemented using MATLAB and its inbuilt functions. In the second method we get edge information by
    applying canny on mean shift filtered image. Finally, this edge information is given as marker image to watershed algorithm which further segments the image. 
    The second algorithm was implemented using the OpenCV library in the Linux development environment. I was mainly responsible for the implementation of the second algorithm.
</div>
<p><a xajp href="/pages/projects/object_extraction.html">More</a></p>
<hr />
<h2 class="heading">Vision Controlled Robotics</h2>
<div>
    I did this project while I was in my third year. In this project a robot-car follows a ball of particular color. The robot-car is connected to PC via parallel port and the
    USB camera is connected to the PC. The video and image processing is done on the PC using Matlab while the robot-car is controlled by an onboard ATmega16L microcontroller.
</div>
<p><a xajp href="/pages/projects/vision_controlled_robotics.html">More</a></p>
<hr />
